version: '3.7'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
            target: builder
        command: "npm run dev"
        ports:
            - "3000:3000"
        volumes:
            - .:/usr/app
        environment:
            DB_HOST: db
            DB_PORT: genericservice
            DB_USER: postgres
            DB_PASSWORD: postgres
            DB_NAME: genericservice
        depends_on:
            - db
    db:
        image: postgres:13-alpine
        restart: always
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: genericservice
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - "5432:5432"

volumes:
    pgdata:
